# Database Configuration
DATABASE_URL=postgresql://username:password@localhost:5432/database_name

# LLM API Keys
GROQ_API_KEY=your_groq_api_key_here
GOOGLE_API_KEY=your_google_api_key_here
COHERE_API_KEY=your_cohere_api_key_here
CEREBRAS_API_KEY=your_cerebras_key
# Web Search API
TAVILY_API_KEY=your_tavily_api_key_here

# LLM Model Configuration
GROQ_FAST_MODEL=put-groq-model
GROQ_POWER_MODEL=put-groq-model
COHERE_MODEL=put-the-cohere-model
CEREBRAS_MODEL=put-cerebras-model
TEMPERATURE=0.3
MAX_TOKENS=2048

# WhatsApp Configuration (Optional - only required if using WhatsApp integration)
ACCESS_TOKEN=
APP_ID=
APP_SECRET=
RECIPIENT_WAID=
VERSION=v24.0
PHONE_NUMBER_ID=
# WHATSAPP_VERIFY_TOKEN= We are using ENDPOINT_AUTH_KEY instead

# API Endpoint Security (Optional)
# Generate a secure random key for production using a tool like `openssl rand -base64 32`
ENDPOINT_AUTH_KEY=
ALLOWED_ORIGINS=

# LangSmith Monitoring
LANGSMITH_API_KEY=your_langchain_api_key_here
