trigger:
- main

resources:
- repo: self

variables:
  imageName: taxbot-api
  tag: $(Build.BuildId)

stages:
- stage: Build
  displayName: Build Docker Image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest

    steps:
    - task: Docker@2
      displayName: Build Docker image
      inputs:
        command: build
        dockerfile: $(Build.SourcesDirectory)/dockerfile
        repository: $(imageName)
        tags: |
          $(tag)
