asyncpg
langchain
langchain_text_splitters
langchain-chroma
langchain-community
langchain-huggingface
langchain-groq
langchain_core
langchain-openai
langchain-tavily
langgraph
langgraph-checkpoint-postgres
psycopg-pool
psycopg-binary
#sentence-transformers
chainlit
pypdf
python-docx
docx2txt
streamlit
chromadb
python-dotenv
tavily-python
langchain_google_genai
langchain-cohere
cohere
fastapi
uvicorn[standard]
pydantic